[submodule "EXDSchema"]
	path = deps/EXDSchema
	url = https://github.com/xivdev/EXDSchema.git
	branch = ver/2025.12.09.0000.0000
[submodule "EXDSchema-experimental"]
	path = deps/EXDSchema-experimental
	url = https://github.com/xivdev/EXDSchema.git
	branch = latest