name: Build

on:
  push:
  pull_request:

permissions:
  contents: write
  packages: write

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0'

      - name: Restore
        run: |
          dotnet restore src/Lumina.Excel.sln

      - name: Build
        run: |
          dotnet build -c Release --no-restore /p:ContinuousIntegrationBuild=true src/Lumina.Excel.sln

      - name: Pack
        run: |
          dotnet pack -c Release --no-build src/Lumina.Excel.sln

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: Lumina.Excel
          path: src/Lumina.Excel/bin/Release
          if-no-files-found: error

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            src/Lumina.Excel/bin/Release/*.nupkg
            src/Lumina.Excel/bin/Release/*.snupkg

      - name: Upload to GPR
        if: startsWith(github.ref, 'refs/tags/')
        run: dotnet nuget push src/Lumina.Excel/bin/Release/*.nupkg -s https://nuget.pkg.github.com/${{ github.repository_owner }} -k ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to NuGet
        if: startsWith(github.ref, 'refs/tags/')
        run: dotnet nuget push src/Lumina.Excel/bin/Release/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
